@{
    ViewData["Title"] = "Movie List";
}

<h2>My movie list - git changes</h2>

<p>Hello from our View Template!</p>

@*<div id="contentframe" style="position:relative; top: 0px; right: 50px;">*@
    <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=v4dpb5tlq8ic4sp4tdrqlg3dvk%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="220" height="200" frameborder="0" scrolling="no"></iframe>
@*</div>*@
@*<div id="contentframe2" style="position:absolute; top: 200px; left: 0px;">*@
    <iframe src="https://calendar.google.com/calendar/embed?src=v4dpb5tlq8ic4sp4tdrqlg3dvk%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
@*</div>*@